<h1>Follower</h1>
<p>あなたがフォローされている人</p>

  <% @users.followings.each do |user| %>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.name %></td>

        </tr>
      </tbody>
    </table>
  <% end %>
